.footer {
    margin-top: 50px;
    height: 209px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 28px;

    &__logo {
        padding-top: 20px;
    }

    &__rights {
        color: white;
        font-size: 24;
    }
}