.logement__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.logement__title {
    font-size: 36px;
    font-weight: 500;
    color: $main-color;
    margin-bottom: 10px;

    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.logement__location {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.logement__info {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    width: 50%;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.hostRate {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    justify-content: inherit;

    @media (max-width: 768px) {
        flex-direction: row-reverse;
    }
}