@mixin location__title--card {
    font-size: 18px;
    font-weight: bold;
}



@mixin nav__txt {
    font-size: 24;
    font-weight: 500;

    @media screen and (min-width:769px) {
        font-size: 12px;
    }
}